* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #ffcfdf;
  background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  line-height: 1.6;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

.recipe {
  &__container {
    width: 36rem;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px #3333331a;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    input {
      background-color: #eee;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 3px;
      margin-right: 1rem;
    }
  }

  &__search {
    background-color: transparent;
    border: none;
    color: #aaa;
    font-size: 1.5em;
    cursor: pointer;
  }
}

.favorite {
  padding: 1rem;
  text-align: center;
  background-color: rgb(253, 220, 253);

  &__title {
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
  }

  &__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
  }

  &__img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;

    border: 1px solid #fff;
    // box-shadow: 0 8px 12px rgba($color: #000000, $alpha: 0.2);
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__name {
    display: block;
    width: 5rem;
    margin-top: 1rem;
    line-height: 1;
    font-size: 1rem;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.meal {
  border-radius: 3px;
  box-shadow: 0 0 10px 2px rgba(51, 51, 51, 0.2);
  margin: 1.5rem 3rem;

  &__header {
    position: relative;

    img {
      border-radius: 3px 3px 0 0;
      width: 100%;
      height: 18rem;
      object-fit: cover;
    }
  }

  &__body {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    background-color: transparent;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    color: gray;
    transition: 0.5s;


    &.active,
    &:hover {
      color: purple;
    }
  }
}

.random {
  position: absolute;
  top: 1rem;
  left: 0;

  background-color: purple;
  padding: 0.5rem 1rem;

  text-align: center;

  border-radius: 0 3px 3px 0;

  color: #fff;
  font-weight: 500;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    background-color: purple;
    width: 1rem;
    height: 132%;
    top: 0;
    left: -1rem;
    border-radius: 10px 0 0 10px;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    background-color: rgb(88, 2, 88);
    width: 0.6rem;
    height: 0.6rem;
    bottom: -0.6rem;
    left: -0.6rem;
    border-radius: 1rem 0 0 1rem;
  }
}
